{% extends 'modules/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row vertical">
            <div class="col-md-5 center-block">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Home</h3>
                    </div>

                    <!--/card-block-->
                    <h1>    </h1>
                    <table>
  <tr>
    <th>Company</th>
    <th>serial number</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Tata Motors</td>
    <td>4586</td>
    <td>435₹</td>
  </tr>
  <tr>
    <td>Goa Carbon</td>
    <td>4585</td>
    <td>599₹</td>
  </tr>
                        <tr>
    <td>Infosys</td>
    <td>4587</td>
    <td>1640₹</td>
  </tr>
                         <tr>
    <td>Tech Mahindra</td>
    <td>4590</td>
    <td>1114₹</td>
  </tr>

  </tr>
</table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}